.my-table-responsive {
	border: none;
}

@media (max-width: 768px){
	.archive-entry-detail-panel {
		width:49.99%;
		float: left;
	}
}

@media (max-width: 500px){
	.archive-entry-detail-panel {
		width: 100%;
	}
}