.row-flex .timeline-icon-container {
	align-content: middle;
	align-items: center;
	justify-content: center;
}

.row-flex .timeline-date-container {
	justify-content: center;
	padding-top: 20px;
}

.timeline-date {
	/*width: 100%;*/
	/*float: left;*/
	display: block;
	padding: 1rem;

	font-weight: 800;
	background: #e5e5e5;
	border: 1px solid grey;
	border-radius: 50%;
	text-align: center;
	background-image: -moz-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(49%, rgba(255,255,255,.05)), color-stop(51%, rgba(0,0,0,.05)), to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	border: 1px solid black;
}

.modern-embed {

	border-top-right-radius: .75rem;
	border-top-left-radius: .75rem;
}

.timeline-entry {

}

.timeline-icon-container {
	/* To account for the .margin-top. We can't just 
	give this to the row as you would like as this 
	would cause the stippled line to have spaces.. */
	padding-top:20px;
}

.timeline-icon-container:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 3px dotted red;
}

.timeline-icon {

	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: #e5e5e5;
	background-image: -moz-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -ms-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.1)), color-stop(49%, rgba(255,255,255,.05)), color-stop(51%, rgba(0,0,0,.05)), to(rgba(0,0,0,.1)));
	background-image: -webkit-linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.05) 49%, rgba(0,0,0,.05) 51%, rgba(0,0,0,.1));
	border: 1px solid black;
}

.timeline-icon > img {

	padding: 1rem;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

[class*='timeline-phase-bottom'] {

	overflow: hidden;
	margin-top:20px;
 	box-shadow: 4px 5px 5px rgba(255, 10, 0, .4);
 	background: rgba(0, 0, 0, .8);
}

[class*='timeline-phase-top'] {

	overflow: hidden;
	margin-top:20px;
 	box-shadow: -4px -5px 5px rgba(255, 10, 0, .4);
 	background: rgba(0, 0, 0, .8);
}

[class*='timeline-phase-'] > * {
	display: none;
}

.timeline-phase-date{

	position: relative;
	color:white;
	font-weight: bold;
	top: 50%;
	transform: translateY(-50%);
}

.timeline-phase-top-1 {
	height: 45px;
	transform: scale(0.70) perspective(20px) rotateX(6deg);
}

.timeline-phase-top-2 {
	height: 70px;
	transform: scale(0.80) perspective(30px) rotateX(6deg);
}

.timeline-phase-bottom-1 {

	height: 45px;
 	transform: scale(0.70) perspective(20px) rotateX(6deg);
}

.timeline-phase-bottom-2 {

	height: 70px;
 	transform: scale(0.80) perspective(30px) rotateX(6deg);
}

.timeline-hidden {

	display: none !important;
}

.timeline-description {

	text-align: left;
	border-bottom-left-radius: .75rem;
	border-bottom-right-radius: .75rem;
}

.timeline-description-dark {

	background: rgba(0, 0, 0, .75);
	color: white;
	border-radius: inherit;
	padding: 3rem;

}