*.wav
*.ac3
*.m4a
*.mp3
*.wmv
*.mts
*.mpg
*.mp4
*.psd
/NASCA-site/nbproject/private/
/NASCA-site/api/configuration.xml
NASCA_Contact.xlsx
/concept
/NASCA-site/db/data/images/*.jpg
/NASCA-site/db/data/letters/*.jpg
.vscode
NASCA-site/db/data/solrDocs.json
/NASCA-site/db/data/images/data.json
/NASCA-site/db/data/letters/data.json
/NASCA-site/db/data/home/data.json
/NASCA-site/db/data/types.json