@font-face {
    
    font-family: "ff-meta-serif-web-pro",serif;
    src: url("https://use.typekit.net/wkw3euy.js");
    
}

html{
    
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: normal;
    font-weight: 200;
    margin-top:3rem;
    
}
        

body {
    
    margin:0;
    padding:0;
    position:relative;
    
}

p {
    
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: normal;
    font-weight: 500;
    
}

.navbar {
    
    position:fixed;
    display:block;
    width:100%;
    height:3.2rem;
    border-radius:0;
    right:0;
    left:0;
    
}

.nav-item {
    
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: normal;
    font-size: 1rem;
    
}

.navbar-light .navbar-nav .nav-link {
    
    color:black;
    transition: ease-in-out .25s;
    
}

a.nav-link:hover {
    
    color:firebrick!important;
    
}

.bg-faded {
    
    background-color:white;
    z-index: 1;
    
}

.content {
    
    height:100vh;
    
}

.logo {
    
    background: url("img/NASCA%20LOGO.jpg") fixed center center no-repeat;
    height:100%;
    width:100%;
    background-size:100%;
    
}

#teamHeader {
    
    margin:1rem;
    color:#a01d21;
    
}

#nascaAudio {
    
    width:90%;
    padding:0;
    margin:2.5rem 1rem 1rem 1rem;
    
}

#timelinePhoto {
    
    width:100%;
    margin-top:4.3rem;
    margin-bottom:1.2rem;
    padding:0 1rem;
    
}

#timelinePhoto2 {
    
    width:100%;
    padding:0 1rem;
    margin-top:1.15rem;
    
}

.jumbotron {
    
    height:100px;
    
}

.jumbotron1 {
    
    background: url('img/native-american%20jpg.jpg') fixed top no-repeat;
    background-size:cover;
    border-radius:0;
    padding-top:50px;
    margin-top:1rem;
    margin-bottom:0;
    height:100px;
    
}

.jumbotron2 {
    
    background: url('img/26974b_1005ce2070e34d9d915dc8043386571f.jpg') fixed center bottom no-repeat;
    background-size:cover;
    border-radius:0;
    padding:0;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
    height:100px;
    
}

#toggle {
    
    display: block;
    width:25%;
    height:25%;
    padding:0 0 0 1rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:-2rem;
    
}

.bio {
    
    text-indent: 1rem;
    margin:2rem 1rem;
    
}

.biot1{
    
    margin:1rem 1rem;
    
}

.biot2{
    
    margin:4rem 1rem 1rem 1rem;
    
}

.bioUnder {
    
    margin:1rem 1rem;
    
}

.jumbotron3 {
    
    background: url('img/feathers.jpg') fixed center bottom no-repeat;
    background-size:cover;
    border-radius:0;
    padding:0;
    margin-top:0;
    margin-bottom:0;
    height:100px;
    
}

.jumbotron4 {
    
    background: url('img/OK_native_american_dancers.jpg') fixed center bottom no-repeat;
    background-size:cover;
    border-radius:0;
    padding:0;
    margin-top:0;
    margin-bottom:0;
    height:100px;
    
}

.title {
    
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: normal;
    font-weight: 600;
    font-size:4.5rem;
    color:black;
    position:relative;
    width:50%;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    padding-top:1rem;
    text-align:center;
    vertical-align: middle;
    background-color:white;
    
}

@media only screen and (max-width: 768px) {
    
    .title {
    font-size: 3rem;
    line-height:75px;
    }
    
}

.lead {
    
    padding:0 1rem 1rem 1rem;
    margin-bottom:2rem;
    
}

.placeHolder {
    
    opacity:.2;
    display:block;
    margin-left:auto;
    margin-right:auto;
    transition: opacity ease-out 1s;
    
}

.placeHolder:hover {
    
    opacity:1;
    transition: .8s ease-in-out;
    
}

#aboutText {
    
    margin-top:1rem;
    padding:1rem;
    
}

h3 {
    
    margin:0 1rem 1rem 1rem;
    font-family: "ff-meta-serif-web-pro",serif;
    font-style: normal;
    font-weight: 700;
    font-size:2rem;
    
}

#timelineHeader {
    
    margin:1rem;
    color:#a01d21;
    
}

#timelineVideo {
    
    margin-bottom: -1rem;
    color:#a01d21;
    
}

.row {
    
    height:100%;
    padding:0 0 5% 0;
    margin-right:0;
    
}

.col-md-6 {
    
    padding:1px;
    margin:0;
    
}

.col-md-12 {
    
    margin:1rem 0;
    
}

#titleVideo {
    
    margin-bottom:2rem;
    
}


#videoTemp {
    
    border:1px solid red;
    width:100%;
    opacity:.4;
    transition: opacity ease-out 1s;
    
}

#videoTemp:hover {
    
    opacity:1;
    transition:.8s ease-in-out;
    
}

.footer {
    
    background: url("img/feathers.jpg") fixed center center no-repeat;
    background-size:cover;
    margin-bottom:0;
    height:100px;
    
}