<div class="parallax" style="
  background-image: url('https://s32.postimg.org/pemrpwjbp/test2.jpg');">
  <div class="parallax-content-container parallax-dark">
    <!-- <div class="parallax-top"> -->
      <div class="parallax-top-content">
        <h4 class="pull-right">
         <!--  <strong> -->{{num_docs}} Documents Housed<!-- </strong> -->
        </h4>
      </div>
    <!-- </div> -->
    <div class="parallax-header-quarter">
      <h1 class="text-center">Native American South Carolina Archive Prototype</h1>
    </div>

    <div class="parallax-footer" >
      <div id="main-duss-intro">
        <h2 class="text-center">Lorem ipsum dolor</h2>
        <p id="main-duss-description">{% lorem %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container space-all">
  {% include 'prototype/home/marketing/main.html' %}
</div>