<nav class="navbar navbar-default navbar-inverse my-navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <strong>DUSS</strong>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="home-navbar">
      <ul class="nav navbar-nav">
        {% include 'prototype/navbar/links.html' %}
      </ul>
       <ul class="nav navbar-nav navbar-right">
       <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>