[Desktop Entry]
Encoding=UTF-8
Name=Link to Letter, 1862 Aug. 12, 1862 Aug. 13 (Beaufort, S.C.), Calvin Shedd to Dear Wife [S. Augusta Shedd] and Children, (Enfield, N.H.). :: Calvin Shedd Papers
Type=Link
URL=http://digital.tcl.sc.edu/cdm/compoundobject/collection/she/id/8/rec/3
Icon=text-html
Name[en_US]=Letter, 1862 Aug. 12, 1862 Aug. 13 (Beaufort, S.C.), Calvin Shedd to Dear Wife [S. Augusta Shedd] and Children, (Enfield, N.H.)
