{% extends 'archive/base.html' %}
{% load staticfiles %}

{% block title %}Archive Directory{% endblock %}
{% block icon_link %}
  {% static 'images/icons/directory.png' %}
{% endblock %}

{% block extra_head %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/custom_bootstrap.css' %}">
{% endblock %}

{% block archive_content %}
<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
  {% include 'archive/directory/search_form.html' %}
  <p class="pull-left" style="color:white;">
    {% with entries.count as num %}
    {{num}} Archive Entr{{ num|pluralize:"y,ies" }}
    {% endwith %}
  </p>
  <div class="clearfix"></div>

  <div class="list-group" id="document-directory-container">
    {% for entry in entries %}
      <a href="{% url 'archive_entry_detail' entry.pk %}" class="list-group-item">
        <i class="fa fa-archive fa-2x">&nbsp;{{entry.title}}</i>
      </a>
    {% empty %}
    <div class="list-group-item list-group-item-danger my-list-group-danger">
      There are no results to display at this time.
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/form_helpers/main.js' %}"></script>
  <script type='text/javascript' src="{% static 'js/archive/search_form_dropdown.js' %}"></script>
  <script type="text/javascript">
    $('.dropdown-menu').on('click', 'li a', function() {
      console.log("dropdown clicked");
      search.switch_menu(this);
    });
  </script>
{% endblock %}