#parallax-home {
	/* Yes, this is open source. Google it if you must... */
	background-image: url('https://s32.postimg.org/pemrpwjbp/test2.jpg');
}

#home-info-section {
	padding: 5rem;
	background: #ffaffa;
	border-bottom: 2px solid grey;
	margin-bottom: 1.5rem;
}

.parallax {

	 background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}

.parallax-content-container {

	min-height: inherit;
	position: relative;
	color: white;

}

.parallax-dark {

	background: rgba(0, 0, 0, .5);
}

.parallax-top {

	top:0;
	position:absolute;
	right:0;
	left:0;
	background: rgba(0, 0, 0, .8);
}

.parallax-top-content {
	margin-left: 3rem;
	margin-right: 3rem;
}

.parallax-header-half {

	background-color: transparent;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	width: 100%;
	text-shadow: 0 0 0.5em black;
	overflow-y: hidden;
}

.parallax-header-quarter {
	background-color: transparent;
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%);
	position: absolute;
	top: 25%;
	width: 100%;
	text-shadow: 0 0 0.5em black;
	overflow-y: hidden;
}

.parallax-footer {
	bottom: 0;
	position: absolute;
	padding: 2rem;
	background: rgba(0, 0, 0, .8);
	width: 100%;
}

#main-duss-description {
	margin-top: 1.75rem;
	margin-left: 3rem;
	margin-right: 3rem;
	text-indent: 2.5rem;
}


#home-jumbotron {
	margin-left: 2rem;
	width: 45%;
}

#home-login-form {
	margin-right: 2rem;
	width: 45%;
}