html{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    margin: 0;
    padding: 0;
}

#container{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    transition: 1s ease;
}

nav{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 1rem;
    margin: 0;
    background-color: #f5f3f3;
    z-index: 100;
}

#logo{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    max-width: 500px;
    min-width: 300px;
    height: auto;
}

#logo img{
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: right;
    padding: 0;
    margin: 3.5rem 0 0 0;
    max-width: 500px;
    min-width: 320px;
}

nav ul li{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

nav ul li a{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 83px;
    margin: 0;
    padding: 3rem;
    color: grey;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover{
    text-decoration: none;
    color: white;
    background-color: #61080B;
    -webkit-transform: translate(0,-5px);
    transform: translate(0,-5px);
} 

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 75%;
    padding: 0.5rem;
    margin: 0;
}

.row{
    position: relative;
    width: 33.333333%;
    height: auto;
    padding: 0;
    margin: 0;
}

.row ul{
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.row ul li{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 33.333333%;
    padding: 0.5rem;
    margin: 0;
}

.row ul li a{
    display: block;
    background: url('http://www.utne.com/~/media/Images/UTR/Editorial/Blogs/Community/American%20Students%20Think%20Native%20Americans%20Are%20All%20Dead/native-american%20jpg.jpg?la=en&hash=F84A2BF8CF20F2462E6EF1F8D7BB19EDB01C5285');
    background-size: cover;
    text-decoration: none;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.wrapper h1{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.wrapper p{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.wrapper .text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    padding: 1.5rem;
    margin: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: 0.5s ease;
    opacity: 0;
}

.wrapper:hover .text{
    opacity: 1;
}

footer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 3rem;
    background-color: #f5f3f3;
    z-index: 99;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    height: auto;
}

footer .logo{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}

/* IFRAME TIMELINE *//* IFRAME TIMELINE *//* IFRAME TIMELINE */
/* IFRAME TIMELINE *//* IFRAME TIMELINE *//* IFRAME TIMELINE */
/* IFRAME TIMELINE *//* IFRAME TIMELINE *//* IFRAME TIMELINE */
