html{
    padding:0;
    margin: 0;
}

body{
    margin:0 auto;
    padding:0;
    height: 100vh;
}

header{
    display:block;
    width: 1080px;
    height:100%;
    margin:0;
    padding:0;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto 0 auto;
    padding: 2rem 0 0 0;
    width:50%;
    height:100%; 
}

#logo{
    margin:0;
    padding:0;
    width:35%;
    height:8rem;
}

#logo img{
    display: inline-block;
    margin:0;
    padding:0;
    width:100%;
}

nav{
    display: block;
    height:auto;
    padding:0;
    margin:0;
}

nav ul li{
    float:left;
    width:9.26rem;
    height:auto;
    padding:0.5rem;
    margin:0;
    list-style:none;
    text-decoration: none;
}

nav ul li a{
    display:flex;
    justify-content:center;
    text-align:center;
    text-decoration:none;
    margin:0;
    padding:2.5rem;
    color:grey;
    transition:0.5s ease-in-out;
}

nav ul li a:hover{
    text-decoration: none;
    color:white;
    background-color:#61080B;
}

section{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
}

#images{
    display:block;
    margin:0;
    padding:0;
}

.row{
    display:inline-block;
    width:33.333333%;
    height:100%;
    padding:0;
    margin:0 auto;
    float:left;
}

.row ul{
    display:flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    margin:0;
    padding:0;
}

.row li{
    text-decoration: none;
    height:33.333333%;
    margin:0;
    padding:0;
}

.row img{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    opacity: 1;
    transition: opacity .5s ease;
}

.row img:hover{
    width:100%;
    margin:0;
    opacity:.5;
}

footer{
    display:flex;
    justify-content: center;
    width:100%;
    height:auto;
    margin:3rem 0 0 0;
    padding: 0;
    background-color:#f5f3f3;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin:0 0 4rem 0;
    padding:0;
    width:100%;
    height:auto;
}