{% extends 'centered.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Upload Archive Entry{% endblock %}

{% block icon_link %}
  {% static 'images/icons/upload.png' %}
{% endblock %}

{% block centered_content %}
  {% crispy form %}
{% endblock %}

{% comment %} 

  This is so we can add the message returned by get_json_response
  --> get_success_json easily by simply using messages.add from
  add_msg.js 

{% endcomment %}

{% block scripts %}
  <script src="{% static 'js/add_msg.js' %}"></script>
{% endblock %}