<div class="table-responsive">
  <table class="table table-hover" id="document-detail-table">
    <tbody>
      {% include 'document/detail/row.html' with field='Title' value=document.title %}
      {% include 'document/detail/row.html' with field='Archive' value=document.archive %}
      {% include 'document/detail/row.html' with field='URL' value=document.url %}
      {% include 'document/detail/row.html' with field='Date' value=document.date %}
      {% include 'document/detail/row.html' with field='Human Date' value=document.date %}
      {% include 'document/detail/row.html' with field='Digital Date' value=document.date_digital %}
      {% include 'document/detail/row.html' with field='Human Digital Date' value=document.date_digital_human %}
      {% include 'document/detail/row.html' with field='Copyright Holder' value=document.copyright_holder %}
      {% include 'document/detail/row.html' with field='Language' value=document.language %}
      {% include 'document/detail/row.html' with field='Thumbnail URL' value=document.thumbnail_url %}
      {% include 'document/detail/row.html' with field='Description' value=document.description %}
      {% include 'document/detail/row.html' with field='Full Text Preview' value=document.full_text|truncatechars:"250" %}
      {% include 'document/detail/row.html' with field='Usage Rights' value=document.usage_rights %}
      {% include 'document/detail/row.html' with field='File Format' value=document.file_format %}
      {% include 'document/detail/row.html' with field='Document Notes' value=document.notes %}
    </tbody>
  </table>
</div>