#featured {
  font-size: 6px; /*12px*/
  font-weight: 600;
  height: auto;
  margin-bottom: 16px;
}

#home-book {
  
}

#home-left {
  min-width: 118px; /*236px;*/
  width: 57.0738%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

#home-middle {
  min-width: 100px;
  width: 6.0459%;
  height: 100%;
}

#home-right {
  min-width: 305px; /*610px;*/
  width: 36.8803%;
  height: auto;
}

.home-card-container {
  min-width: 118px; /*236px;*/
  width: 25%;
  min-height: 160px; /*320px;*/
  height: 160px; /*320px;*/
}

.home-card {
  position: relative;
  overflow: hidden;
  height: 91.25%;
  width: 91.5254%;
  box-shadow: 3px 10px 18px -2px rgb(150,150,150);
  z-index: 1;
  transition-duration: 0.15s;
}

.home-card img {
  opacity: 0.9;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  object-fit: cover;
}

.card-title-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 23px; /*46px;*/
  height: 15.7534%;
  z-index: 3;
  width: 100%;
}

.card-title {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(50%);
  right: 50%;
  font-weight: 600;
  font-size: 7px; /*14px;*/
}

.card-read-more {
  z-index: 3;
  position: absolute;
  left: -50%;
  bottom: 0;
  height: 6.164%;
  min-height: 9px; /*18px;*/
  padding-left: 6px;
  padding-right: 6px;
  width: auto;
}

.card-read-more div {
  z-index: 3;
  margin: 0 auto;
  text-align: center;
  font-size: 7.5px; /*15px;*/
}

.card-point {
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16.6667%;
  height: 6.164%;
  opacity: 1.0;
  -webkit-transform: translateX(0);
}

.card-point img {
  z-index: 4;
  width: 100%;
  height: auto;
  opacity: 1.0;
}

.card-hover {
  z-index: 4;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.card-hover:hover {
  cursor: pointer;
}

#preview-layout {
  width: 100%;
  height: auto;
  position: relative;
}

.preview-wide #preview-title-container {
  width: 100%;
  min-height: 64px; /*128px;*/
}

.preview-tall #preview-title-container {
  min-height: 55px; /*110px;*/
  width: 47.049%;
  float: right;
  margin-top: 96px;
}

#preview-title-container {
  overflow-y: hidden;
  position: relative;
}

#preview-title-container:hover {
  overflow-y: visible;
  z-index: 3 !important;
}

#preview-title-container:hover > #preview-title {
  background: rgba(239,237,237,0.8);
}

#preview-title {
  background: rgba(239,237,237,0);
  -webkit-transition: background .5s ease-out;
  -moz-transition: background .5s ease-out;
  -o-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

.preview-wide #preview-title-container #preview-title {
  font-size: 46px;
  line-height: 64px;
}

.preview-tall #preview-title-container #preview-title {
  font-size: 22px; /*44px;*/
  line-height: 27.5px; /*55px;*/
}

#preview-media-container {
  border: 3px solid #930707;
  overflow: hidden;
  position: relative;
}

#preview-media-container a img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  object-fit: cover;
}

.preview-wide #preview-media-container {
  min-width: 305px; /*610px;*/
  width: 100%;
  height: 139px; /*278px;*/
}

.preview-tall #preview-media-container {
  min-width: 137.5px; /*275px;*/
  width: 45.08197%;
  height: 245px; /*490px;*/
  margin-top: 48px;
  float: left;
}

.preview-wide #preview-desc-container {
  width: 100%;
  min-width: 100px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.preview-tall #preview-desc-container {
  width: 47.049%;
  margin-top: 48px;
  height: 200px; /*272px;*/
  float: right;
}

#preview-desc-container {
  overflow-y: hidden;
}

#preview-desc {
  font-size: 14px;
}

#preview-lower {
  min-height: 16px; /*32px*/
  height: 16px; /*32px*/
  position: relative;
}

.preview-wide #preview-lower {
  margin-top: 22px;
}

.preview-tall #preview-lower {
  float: left;
}

#view-all-container {
  position: absolute;
  right: -3.2787%;
  transition-duration: 0.2s;
  z-index: 3;
  height: 100%;
  width: 24.2623%;
}

#view-all {
  font-size: 7px; /*14px*/
  transition-duration: 0.2s;
  z-index: 4;
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

#view-all-underline {
  border-top: 4px solid #930707;
  transition-duration: 0.2s;
  z-index: 3;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

#view-all-container:hover {
  cursor: pointer;
}

#view-all-container:hover > #view-all {
  color: white;
}


#view-all-container:hover > #view-all-underline {
  transform: scaleY(8) translateY(-45%);
  /*border-top: 22px solid #930707;*/
}