#select-container {
  background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  background-size: contain;
  overflow: hidden;
  width: 16%;
  min-width: 227px;
  position: relative;
}

#select-container .half-underline-black {
  transform: translateX(-43%);
  z-index: 1;
}

#select {
  position: relative;
  background: transparent;
  border: 1px solid #ccc;
  width: 110%;
  font-weight: 600;
  text-align: center;
  text-align-last: center;
  -ms-text-align-last: center;
  z-index: 2;
}

#image-cards-flex {
  position: relative;
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 101.04987%;
  min-width: 585px;
  height: auto;
}

.image-card-container {
  position: relative;
  min-width: 195px;
  width: 16.666%;
  /*min-height: 253px;*/
  display: inline-block;
  /*height: 0;*/
  z-index: 2;
  overflow: visible;
  margin-bottom: 0;
}

.image-card-container::after {
  padding-top: 129%;
  display: block;
  content: '';
}

#images-loading {
  position: relative;
  /*display: none;*/
}

#images-loading img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  min-width: 64px;
  max-width: 128px;
  height: auto;
  opacity: 0;
}

#details-loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 15%;
  min-width: 64px;
  max-width: 128px;
  height: auto;
  opacity: 1;
}

#card-details {
  display: block;
  background: white;
  position: absolute;
  width: 100vw;
  top: 100%;
  height: 0;
  min-width: 700px;
}

#card-details-exit {
  display: block;
  background: white;
  position: absolute;
  width: 100vw;
  top: 100%;
  height: 0;
  min-width: 700px;
}