#images_book {
  height: 80vh;
}

#images_left {
  width: 60%;
  min-width: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #ffffff;
}

#images_right {
  margin-left: 10px;
  margin-right: 20px;
  width: 40%;
  min-width: 400px;
  max-width: 800px;
}

.search {
  position: relative;
  float: left;
  padding-left: 20px;
  padding-bottom: 15px;
  color: #ffffff;
}

.images-img{
  width: 100%;
}

.images-col {
  padding-left:0px !important;
  padding-right: 0px !important;
}

.images-div {
  padding-left:0px !important;
  padding-right: 0px !important;
  white-space: normal !important;
}