* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  /*width: 100%;*/
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  /*height: 100%;
  width: 100%;*/
}

.anton {
  font-family: 'Anton', sans-serif;
}

.source-serif {
  font-family: 'Source Serif Pro', serif;
}

.text-white {
  color: #ffffff;
}

.text-dark-grey {
  color: #323A3B;
}

.text-black {
  color: #000000;
}

.text-red {
  color: #930707;
}

.background-black {
  background: #000000;
}

.background-grey {
  background: #323A3B;
}

.background-red {
  background: #930707;
}

.background-off-white {
  background: #EFEDED;
}

.background-white {
  background: #FFFFFF;
}

.background-checker {
    background: url(../img/background-grid.png) repeat;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

hr.red {
  color: #930707;
  background-color: #930707;
  border-color: #930707; 
}

hr.dark-grey {
  color: #323A3B;
  background-color: #323A3B;
  border-color: #323A3B;
}

.half-underline-black {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 100%;
  border-bottom: 2px solid black;
  transition-duration: 0.1s;
}

.half-underline-white {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 100%;
  border-bottom: 2px solid white;
  transition-duration: 0.1s;
}

.text-center {
  text-align: center;
}

.box-shadow {
  box-shadow: 2px 5px 7px #323A3B;
}

.border-red {
  border: 2px solid #930707;
}

.button {
  
}

/*
colors{
    white - #FFFFFF
    red - #930707
    dark-grey - #323A3B
    black - #000000
    off-white - #EFEDED
}
*/

#body-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-bottom: 40px;
}

#header-positioner {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 5;
}

#header-container {
  position: relative;
  display: inline-flex;
  height: 17.4267vh;
  min-height: 107px; /*163px;*/
  width: 100%;
  min-width: 600px;
}

#header-positioner-height-offset {
  height: 17.4267vh;
  min-height: 107px; /*163px;*/
  width: 100%;
}

#header-left-container {
  position: relative;
  float: left;
  min-width: 316px;
  width: 316px;
  height: 66.6679%;
  display: inline-block
}

#header-left {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 55.141%;
  width: 87.6582%;
  display: inline;
}

#logo {
  position: relative;
  float: left;
  height: 100%;
  width: 158px;
  display: inline-block;
}

#logo a {
  position: relative;
  height: 100%;
  width: 100%;
}

#logo a img {
  position: relative;
  height: 100%;
  width: 100%;
}

#logo-verbose-container {
  position: relative;
  height: 100%;
  width: 119px;
  display: inline-block;
}

#logo-verbose {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 86.4377%;
  width: 84.0336%;
}

#logo-verbose img {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 0;
}

#header-right {
  flex: auto;
  position: relative;
}

#search-container {
  position: absolute;
  top: 0;
  right: -500px;
  height: 36.4486%;
  min-height: 39px; /*52px;*/
  min-width: 235px; /*331px;*/
  width: 235px; /*331px;*/
}

#search {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 19px; /*26px;*/
  min-width: 194px; /*274px;*/
  height: 48.7179%;
  width: 82.5532%;
}

#search-contents {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}

#search-text {
  font-size: 15px; /*22px;*/
  width: auto;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
  line-height: 15px; /*26px;*/
}

#search-input-container {
  height: 100%;
  min-width: 113px; /*158px;*/
  width: 58.2474%;
  margin: 0 auto;
  border-bottom: 2px solid white;
  display: inline-block;
}

#search-input {
  height: 100%;
  width: 100%;
  background: black;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 12px; /*15px;*/
}

#search-go {
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: inline-block;
}

#search-go:hover {
  cursor: pointer;
}

#nav-bar-container {
  height: 42.9907%;
  min-width: 642px; /*910px;*/
  width: 642px; /*910px;*/
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
}

#nav-bar {
  position: relative;
  float: left;
  height: 56.5217%;
  width: 93.6137%;
}

#tabs {
  height: 100%;
  width: auto;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

#tabs li {
  height: 100%;
  display: table;
  padding-left: 30px;
}

#tabs li div.tab {
  position: relative;
  height: 100%;
  text-align: center;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  /*transition-duration: 0.1s;*/
}

.tab-underline {
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 100%;*/
  border-bottom: 0px solid white;
  /*transition-duration: 0.1s;*/
}

#tabs li div.tab:hover {
  font-weight: 600;
  cursor: pointer;
}

#tabs li div.tab:hover div.tab-underline {
  border-bottom: 2px solid white;
}

#tabs li a:hover, #tabs li a:visited, #tabs li a:active, #tabs li a:link {
  text-decoration: none;
}

#menu-container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  height: 42.9907%;
  width: 117px; /*149px;*/
  display: none;
}

#menu {
  position: relative;
  float: left;
  width: 64.9573%;
  height: 56.5217%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

#menu:hover {
  cursor: pointer;
  background: #930707
}

#menu-icon {
  display: inline-flex;
  width: 26.3158%;
  margin: 0 auto;
}

#menu-icon-img {
  width: 100%;
  height: auto;
}

#menu-text {
  display: inline-flex;
  margin: 0 auto;
  height: 100%;
  line-height: 190%;
  font-size: 13px;
}

#pullout-positioner {
  position: fixed;
  top: 107px; /*163px;*/
  right: -100%;
  z-index: 4;
  height: 100%;
  width: auto;
}

#pullout-container {
  border-left: 2px solid black;
  height: 100%;
  width: auto;
}

#pullout-list {
  list-style: none;
}

.pullout-list-el {
  color: black;
  text-decoration: none;
  font-size: 10px; /*16px;*/
  text-align: right;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  padding-right: 14px;
  padding-left: 30px;
  margin-bottom: 5px;
}

.pullout-list-el:hover {
  cursor: pointer;
  background: #930707;
  color: white;
  text-decoration: none;
}

#page-container {
  z-index: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  /*width: 100%;
  height: 100%;*/
}

#page {
  padding-left: 54px; /*68px;*/
  padding-right: 65px; /*68px;*/
  padding-top: 20px; /*26px;*/
  padding-bottom: 8px; /*12px;*/
  /*width: 100%;
  height: 100%;*/
}

#footer-container {
  position: relative;
  margin-top: -40px;
  width: 100%;
  height: 40px;
  z-index: 6;
}

#footer {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 12px;
}

#footer-links-container {
  height: 14px;
  width: 100%;
}

#footer-links {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#footer-links li {
  padding-left: 25px;
}

#footer-links li a {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
}

#footer-links li a, #footer-links li a:hover, #footer-links li a:active, #footer-links li a:visited {
  text-decoration: none;
}

#footer-links li a:hover {
  font-weight: 600;
}

#copyright-container {
  position: relative;
  float: left;
}

#copyright {
  font-size: 14px;
}

.additional {
  display: none;
}
/* IFRAMES */

.frame {
  margin: auto;
  width: 100%;
}

.book {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  /*flex-basis: content;*/
  /*flex-direction: row;*/
  /*flex-flow: row;*/
  height: auto;
  width: 100%;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.row {
  width: 100%;
}