* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.source-serif {
  font-family: 'Source Serif Pro', serif;
}

.text-white {
  color: #ffffff;
}

.text-dark-grey {
  color: #323A3B;
}

.text-black {
  color: #000000;
}

.text-red {
  color: #930707;
}

.background-black {
  background: #000000;
}

.background-grey {
  background: #323A3B;
}

.background-red {
  background: #930707;
}

.background-off-white {
  background: #EFEDED;
}

.background-white {
  background: #FFFFFF;
}

.background-checker {
    background: url(../img/background-grid.png) repeat;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

hr.red {
  color: #930707;
  background-color: #930707;
  border-color: #930707; 
}

hr.dark-grey {
  color: #323A3B;
  background-color: #323A3B;
  border-color: #323A3B;
}

.button {
  
}

/*
colors{
    white - #FFFFFF
    red - #930707
    dark-grey - #323A3B
    black - #000000
    off-white - #EFEDED
}
*/

#body-container {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding-bottom: 52px;
}

#header-positioner {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 5;
}

#header-container {
  position: relative;
  display: inline-flex;
  height: 17.7174vh;
  min-height: 81.5px; /*163px;*/
  width: 100%;
  min-width: 800px;
}

#header-positioner-height-offset {
  height: 17.7174vh;
  min-height: 81.5px; /*163px;*/
  width: 100%;
}

#header-left {
  min-width: 177.5px; /*355px;*/
  padding-left: 28px; /*56px;*/
  padding-top: 26px; /*52px;*/
  display: inline-block;
}

#logo {
  min-height: 28px; /*56px;*/
  height: 50.4505%;
  width: 113px; /*226px;*/
  min-width: 113px; /*226px;*/
  float: left;
}

#logo a {
  height: 100%;
  width: 100%;
}

#logo a img {
  height: 100%;
  width: auto;
}

#logo-verbose {
  overflow: hidden;
  min-width: 134px; /*168px;*/
  height: 100%;
  padding-left: 26px; /*13px;*/
  padding-top: 5px; /*2.5px;*/
}

#logo-verbose img {
  min-width: 71px; /*142px;*/
  width: 100%;
  max-width: 100%;
  height: auto;
  opacity: 0;
}

#header-right {
  flex: auto;
  position: relative;
}

#search-container {
  position: absolute;
  top: 0;
  right: -500px;
  height: 31.9018%;
  min-height: 26px; /*52px;*/
  min-width: 165.5px; /*331px;*/
  width: 165.5px; /*331px;*/
}

#search {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 13px; /*26px;*/
  min-width: 137px; /*274px;*/
  height: 50%;
  width: 82.7795%;
}

#search-contents {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}

#search-text {
  font-size: 11px; /*22px;*/
  width: auto;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
  line-height: 13px; /*26px;*/
}

#search-input-container {
  height: 100%;
  min-width: 79px; /*158px;*/
  width: 57.6642%;
  margin: 0 auto;
  border-bottom: 2px solid white;
  display: inline-block;
}

#search-input {
  height: 100%;
  width: 100%;
  background: black;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 7.5px; /*15px;*/
}

#search-go {
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: inline-block;
}

#search-go:hover {
  cursor: pointer;
}

#nav-bar-container {
  height: 42.9448%;
  min-width: 455px; /*910px;*/
  width: 455px; /*910px;*/
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
}

#nav-bar {
  position: relative;
  float: left;
  height: 57.1429%;
  width: 93.7363%;
}

#tabs {
  height: 100%;
  width: auto;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
}

#tabs li {
  height: 100%;
  display: table;
  padding-left: 40px;
}

#tabs li div {
  height: 100%;
  text-align: center;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  transition-duration: 0.1s;
}

#tabs li div:hover{
  font-weight: 600;
  border-bottom: 2px solid white;
  cursor: pointer;
}

#tabs li a:hover, #tabs li a:visited, #tabs li a:active, #tabs li a:link {
  text-decoration: none;
}

#menu-container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
  height: 39.2638%;
  width: 74.5px; /*149px;*/
  display: none;
}

#menu {
  position: relative;
  float: left;
  width: 61.745%;
  height: 50%;
}

#menu:hover {
  cursor: pointer;
  background: #930707
}

#menu-icon {
  display: inline-block;
  margin: 0 auto;
}

#menu-text {
  display: inline-block;
  margin: 0 auto;
}

#pullout-positioner {
  position: fixed;
  top: 81.5px; /*163px;*/
  right: -100%;
  z-index: 4;
  height: 100%;
  width: auto;
}

#pullout-container {
  border-left: 2px solid black;
  height: 100%;
  min-width: 100px; /*200px;*/
  width: 11.1732vw;
}

#pullout-list {
  list-style: none;
}

.pullout-list-el {
  color: black;
  text-decoration: none;
  font-size: 8px; /*16px;*/
  text-align: right;
  padding: 14px;
  margin-bottom: 4px;
}

.pullout-list-el:hover {
  cursor: pointer;
  background: #930707;
  color: white;
  text-decoration: none;
}

#page-container {
  z-index: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

#page {
  padding-left: 34px; /*68px;*/
  padding-right: 34px; /*68px;*/
  padding-top: 13px; /*26px;*/
  padding-bottom: 6px; /*12px;*/
}

#footer-container {
  position: relative;
  margin-top: -52px;
  width: 100%;
  height: 52px;
  z-index: 6;
}

#footer {
  width: 100%;
  height: 100%;
  padding-left: 56px;
  padding-right: 48px;
  padding-top: 18px;
}

#footer-links-container {
  height: 20px;
  width: 100%;
}

#footer-links {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#footer-links li {
  padding-left: 20px;
}

#footer-links li a {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
}

#footer-links li a, #footer-links li a:hover, #footer-links li a:active, #footer-links li a:visited {
  text-decoration: none;
}

#footer-links li a:hover {
  font-weight: 600;
}

#copyright-container {
  position: relative;
  float: left;
}

#copyright {
  font-size: 13px;
}

.additional {
  display: none;
}
/* IFRAMES */

.frame {
  margin: auto;
  width: 95%;
  height: 85vh;
}

.book {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  /*flex-basis: content;*/
  /*flex-direction: row;*/
  /*flex-flow: row;*/
  height: auto;
  width: 100%;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.row {
  width: 100%;
}