* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  
}

.anton {
  font-family: 'Anton', sans-serif;
}

.source-serif {
  font-family: 'Source Serif Pro', serif;
}

.text-white {
  color: #ffffff;
}

.text-dark-grey {
  color: #323A3B;
}

.background-black {
  background: #000000;
}

.background-off-white {
  background: #EFEDED;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

hr.red {
  color: #930707;
  background-color: #930707;
  border-color: #930707; 
}

hr.dark-grey {
  color: #323A3B;
  background-color: #323A3B;
  border-color: #323A3B;
}

.button {
  
}

/*
colors{
    white - #FFFFFF
    red - #930707
    dark-grey - #323A3B
    black - #000000
    off-white - #EFEDED
}
*/

#body-container {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  min-height: 100%;
  padding-bottom: 56px;
}

#header-positioner {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 5;
}

#header-container {
  position: relative;
  display: inline-flex;
  height: 17.355vh;
  min-height: 168px;
  width: 100%;
}

#header-positioner-height-offset {
  height: 17.355vh;
  min-height: 168px;
  width: 100%;
}

#header-left {
  min-width: 458px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 48px;
  display: inline-block;
}

#logo {
  min-height: 60px;
  height: 50%;
  width: 238px;
  min-width: 238px;
  float: left;
}

#logo a {
  height: 100%;
  width: 100%;
}

#logo a img {
  height: 100%;
  width: auto;
}

#logo-verbose {
  overflow: hidden;
  min-width: 172px;
  height: 100%;
  padding-left: 28px;
  padding-top: 6px;
}

#logo-verbose img {
  min-width: 144px;
  width: 60%;
  height: auto;
  opacity: 0;
}

#header-right {
  flex: auto;
  position: relative;
}

#search {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 32px;
  padding-right: 64px;
  display: inline-flex;
}

#nav-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 64px;
  padding-bottom: 46px;
  width: auto;
}

#tabs {
  width: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

#tabs li {
  text-align: center;
  display: block;
  font-weight: 100;
  padding-left: 42px;
}

#tabs li div {
}

#tabs li:hover{
  font-weight: 600;
}

#tabs li a:hover, #tabs li a:visited, #tabs li a:active, #tabs li a:link {
  text-decoration: none;
}

#page-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

#page {
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 34px;
  padding-bottom: 34px;
  height: 100%;
}

#footer-container {
  position: relative;
  margin-top: -56px;
  width: 100%;
  height: 56px;
  z-index: 6;
  overflow: hidden;
}

#footer {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
}

#footer-links-container {
  height: 40px;
  width: 100%;
}

#footer-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#footer-links li {
  padding-left: 10px;
  padding-right: 10px;
}

#footer-links li a {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
}

#footer-links li a, #footer-links li a:hover, #footer-links li a:active, #footer-links li a:visited {
  text-decoration: none;
}

#footer-links li a:hover {
  font-weight: 600;
}

#copyright-container {
  position: relative;
  float: left;
}

#copyright {
  font-size: 12px;
}

.additional {
  display: none;
}
/* IFRAMES */

.frame {
  margin: auto;
  width: 95%;
  height: 85vh;
}

.book {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  /*flex-basis: content;*/
  /*flex-direction: row;*/
  /*flex-flow: row;*/
  min-height: 600px;
  width: 100%;
  /*align-items: center;*/
  justify-content: center;
}
