/* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS */
/* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS */
/* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS */
/* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS */
/* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS *//* AUDIO HTML CSS */

.title {
    font-size: 2rem;
    /*font-family: 'Roboto Slab', serif;*
    color: #AEADB8;*/
}

.transcript {
    /*color: #F7F7F7;
    /*font-family: 'Open Sans', sans-serif;*
    padding-left: 0;
    height: 100%;*/
}

.ts-bit {
    /*width: 80%;
    /color: #F7F7F7;*/
}

.interview-row {
    padding-top: 3em;
    padding-bottom: 5em;
}

.btn-interview {
    white-space: normal !important;
}

.interview-logo{
    height: 275px !important;
}

.jp-duration {
    margin-right:3em;
}

#interviews-nav {
  position: relative;
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
}

div.interviews-nav-button {
  margin: 0.5em auto;
  position: relative;
  height: auto;
  display: inline-flex;
  flex-shrink: 0;
}

div.interviews-nav-button:hover {
  
}

div.interviews-nav-button.tab-active {
  
}

#interviews-nav > .text-dark-grey > div.half-underline-red {
  border-bottom: 0px solid white;
}

.interviews-nav-button > a, .interviews-nav-button > a:visited, .interviews-nav-button > a:link {
  color: inherit !important;
  font-size: inherit !important;
  font-weight: bold;
  position: relative;
  z-index: 2;
  text-decoration: none;
  padding: 0 21px;
}

.interviews-nav-button > .half-underline-red {
  z-index: 1;
}

.interviews-nav-button > a:hover, .interviews-nav-button > a:active {
  text-decoration: none;
  color: #B20A0A !important;
}

.interviews-nav-button > div.half-underline-red {
  height: 2em !important;
}