.carousel-inner div {
  padding-top: 2em;
}

.letter-desc {
  white-space: normal;
}

.btn.letter-toggle {
  padding-top: 2em;
  height: 450px;
}

.letter-transcript {
  font-size: 2em;
  text-align: justify;
  padding: 1em;
  padding-right: 2em;
}

#letters-custom-about-section-row {
  position: relative;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
}

#letters-custom-about-section-inner {
  position: relative;
  float: left;
  height: auto;
  width: auto;
  max-width: 50%;
}

#letters-custom-about-section-click {
  display: inline;
}

#letters-custom-about-section-click:hover {
  color: black;
}

#letters-custom-about-section-content {
  letter-spacing:-0.5ex;
  opacity: 0;
  display: none;
}