.map {
  position:absolute; top:0; bottom:0; width:100%;
}

.map-point-body {
  
}

.map-point-img {
  width: 200px;
  height: 200px; 
}

.map-point-heading {
  
}

.map-point-heading a {
  
}

.map-point-desc {
  
}

.map-point-vid {
  
}