#tribes-list-container {
  position: relative;
  margin-left: -19px;
  margin-right: -19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: auto;
  height: auto;
}

.tribe-single-container {
  width: 25%;
  min-width: 295px;
  height: 188px;
  position: relative;
  z-index: 1;
}

.tribe-single {
  position: absolute;
  top: 0;
  left: 6.4407%;
  width: 87.119%;
  height: 93.085%;
  transition-duration: 0.4s;
}

.tribe-single-title-container {
  position: relative;
  height: 17.143%;
}

.tribe-single-title {
  /*line-height: 28px;*/
  font-size: 18.5px;
  padding-left: 6%;
  padding-right: 6%;
}

.tribe-single-logo-container {
  position: relative;
  height: 82.857%;
}

.tribe-single-logo {
  opacity: 0.5;
  height: 100%;
  object-fit: contain;
  padding: 5px;
}

.fancybox-inner.tribes-inner{
  margin: auto auto;
  width:410px;
}
.fancybox-slide.tribes-slide div{
  width: 300px;
}