{% extends 'document/forms/base_wizard.html' %}

{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block form_if %}{% block form_else %}

  {% if form.helper %}

    {% crispy form %}
  {% else %}

    {% comment %}
      Get rid of the ugly checkbutton -> bootstrap btn + jquery
    {% endcomment %}

    {{wizard.form.name}}
    {% if wizard.form.can_delete %}

      {% for hidden in form.hidden_fields %}
        {{hidden}}
      {% endfor %}

      {% for field in form.visible_fields %}

        {% comment %} 
          This will be the checkbutton field.
        {% endcomment %}
          {% if field.name == 'DELETE' %} 
            <!-- <div class="delete-formset-parent">
              <a href="#delete-form" class="btn btn-danger pull-right delete-formset" id="{{field.auto_id}}" name="{{field.auto_id}}">Delete</a>
              <div class="clearfix"></div>
            </div> -->
          {% else %}
            {{field|as_crispy_field}}
          {% endif %}
      {% endfor %}

    {% else %}
      {{form|crispy}}
    {% endif %}
  {% endif %}
  
{% endblock %}{% endblock %}

{% block scripts %}
<script type='text/javascript' src="{% static 'js/form_helpers/dynamic_formset_delete.js' %}"></script>
<script type="text/javascript">
  meta_base = "#id_{{wizard.steps.current}}";
  par_ref = "{{par_ref}}";

  $('#add-formset').click(function (){
    formset_action('add', this);
  });

  $('.delete-formset').click(function() {
    formset_action('delete', this);
  });
</script>
{% endblock %}