<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <cdm>
    <server>http://digital.tcl.sc.edu</server>
    <port>:81</port>
    <api_query_base>/dmwebservices/index.php?q=</api_query_base>
    <collection>/nasca</collection>
    <functions>
    </functions>
  </cdm>
  <frontend>
    <url>
      <home>http://www.duss.sc.edu/nasca</home>
      <!-- add this url to 'var SITE_ROOT' in /js/api/requests.js as well -->
      <audio>http://www.duss.sc.edu/nasca/audio.html</audio>
      <video>http://www.duss.sc.edu/nasca/video.html</video>
      <map>http://www.duss.sc.edu/nasca/map.html</map>
      <timeline>http://www.duss.sc.edu/nasca/timeline.html</timeline>
      <census>http://www.duss.sc.edu/nasca/census.html</census>
      <tribes>http://www.duss.sc.edu/nasca/tribes.html</tribes>
    </url>
  </frontend>
  <backend>
  	<python version="3.5.2"></python>
  	<php version="7.0.13"></php>
  </backend>
</configuration>