<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <cdm>
    <server>http://digital.tcl.sc.edu</server>
    <!-- add this server to 'var SITE_ROOT' in /js/api/requests.js as well -->
    <port>:81</port>
    <api_query_base>/dmwebservices/index.php?q=</api_query_base>
    <collection>/nasca</collection>
    <functions>
    </functions>
  </cdm>
  <frontend>
    <url>
      <home>http://www.duss.sc.edu/nasca/html</home>
      <audio>http://www.duss.sc.edu/nasca/html/audio.html</audio>
      <video>http://www.duss.sc.edu/nasca/html/video.html</video>
      <map>http://www.duss.sc.edu/nasca/html/map.html</map>
      <timeline>http://www.duss.sc.edu/nasca/html/timeline.html</timeline>
      <census>http://www.duss.sc.edu/nasca/html/census.html</census>
      <tribes>http://www.duss.sc.edu/nasca/html/tribes.html</tribes>
    </url>
  </frontend>
  <backend>
  	<python version="3.5.2"></python>
  	<php version="7.0.13"></php>
  </backend>
</configuration>