{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block base_content %}
<div class="parallax" id="parallax-home">
  <div class="parallax-content-container parallax-dark">
    <div class="parallax-top-content">
      <h4 class="pull-right">
       {{num_docs}} Documents Housed
      </h4>
    </div>
    <div class="parallax-header-quarter">
      <h1 class="text-center">Native American South Carolina Archive Prototype</h1>
    </div>

    <div class="parallax-footer" >
      <div id="main-duss-intro">
        <h2 class="text-center">NASCA</h2>
        <p id="main-duss-description">{% lorem %}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
  </div>
  <div class="col-xs-12 col-sm-6">
  </div>
  <div class="clearfix visible-xs"></div>
</div>

{% endblock %}