html{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: none;
}

header{
    margin: 0;
    padding: 0;
}

#bodyContainer{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    transition: 1s ease;
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 0 1rem 0 0;
    margin: 0;
    z-index: 100;
}

#logo{
    display: block;
    margin: 0;
    padding: 1.9rem 0 1.9rem 0;
    width: 580px;
    height: auto;
}

#logo img{
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    float: right;
    padding: 0;
    margin: 0;
    width: 69%;
}

nav ul li{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

nav ul li a{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    width: 83px;
    margin: 0;
    padding: 3rem;
    color: #a0a0a0;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover{
    text-decoration: none;
    color: white;
    background-color: #9E1C20;
    border-bottom: 3px solid white;
    -webkit-transform: translate(0,-5px);
    transform: translate(0,-5px);
    box-shadow: 0px 7px 2px -3px rgba(160, 160, 160, 1);
} 

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 75%;
    padding: 1rem;
    margin: 0;
}

.row{
    position: relative;
    width: 33.333333%;
    height: auto;
    padding: 0;
    margin: 0;
}

.row ul{
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.row ul li{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 33.333333%;
    padding: 0.5rem;
    margin: 0;
}

.row ul li a{
    display: block;
    /*background: url('');*/
    background-size: cover;
    text-decoration: none;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 0px 2px rgba(100, 100, 100, 1);
    transition: 0.3s ease-in-out;
}

.row ul li a:hover{
    transform: translatey(-4px);
    box-shadow: 0px 10px 2px -5px rgba(160,160,160, 1);
}

.wrapper h1{
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    font-size: 5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.wrapper p{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0 0 0 .3rem;
    margin: 0.5rem 0 0 0;
    width: 100%;
    height: auto;
}

.wrapper .text{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    padding: 1.5rem;
    margin: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: 0.5s ease;
    opacity: 0;
}

.wrapper:hover .text{
    opacity: 1;
    transform: translateX(9px);
}

footer{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 3rem 0;
    z-index: 99;
}

#tribes{
    padding: 0;
    margin: 0;
    width: 50%;
    height: auto;
}

footer #tribes ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

footer #tribes ul li {
    padding: 0;
    margin: .7rem;
    width: 50px;
    height: auto;
}

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a0a0a0;
    margin: 0 auto;
    padding: 1rem;
    width: 50%;
    height: auto;
}

footer .logo{
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}

/* IFRAME TIMELINE *//* IFRAME TIMELINE *//* IFRAME TIMELINE */
/* IFRAME TIMELINE *//* IFRAME TIMELINE *//* IFRAME TIMELINE */
/* IFRAME TIMELINE *//* IFRAME TIMELINE *//* IFRAME TIMELINE */
