{% extends 'centered.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/custom_bootstrap.css' %}">
{% endblock %}

{% block centered_content %}
<div class="jumbotron jumbotron-form top-btm-spacer">
  <h2 class="text-center">Contact Us</h2>
  <hr/>
  <form class="form" role="form" action=".">
    {% crispy form %}
    <input type="submit" value="Send Message" class="btn btn-success pull-right">
    <div class="clearfix"></div>
  </form>
</div>
{% endblock %}