body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #EFEDED;
}

/* http://www.patternify.com/ */

.repeatBg{
    background: url(../images/patternX.png) repeat;
    background-size: auto, cover;
    height: inherit;
    opacity: 1;
}

.paragraph{
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color:hotpink;
    font-size: 48px;
    width: inherit;
    margin: 0 auto;
    padding: 0;
    top: 50;
    z-index: 100;
}